version: "3.8"

services:
  db:
    image: kusumacloud/updateproject:dbimage
    deploy:
      replicas: 1
    ports:
      - "3306:3306"
    networks:
      - mynet

  auth_service:
    image: kusumacloud/updateproject:authimage
    deploy:
      replicas: 3
    ports:
      - "5001:5001"
    networks:
      - mynet

  book_service:
    image: kusumacloud/updateproject:bookimage
    deploy:
      replicas: 3
    ports:
      - "5002:5002"
    networks:
      - mynet

  borrow_service:
    image: kusumacloud/updateproject:borrowimage
    deploy:
      replicas: 3
    ports:
      - "5003:5003"
    networks:
      - mynet

  frontend:
    image: kusumacloud/updateproject:appimage
    deploy:
      replicas: 3
    ports:
      - "5000:5000"
    networks:
      - mynet

networks:
  mynet:
    driver: overlay
