---
services:
  db:
    image: kusumacloud/updateproject:dbimage
    deploy:
      replicas: 3
    ports:
      - "3306:3306"
    -mynet  


  auth_service:
    image: kusumacloud/updateproject:authimage
    deploy:
      replicas: 3
    ports:
      - "5001:5001"
    -mynet  


  book_service:
    image: kusumacloud/updateproject:bookimage
    deploy:
      replicas: 3
    ports:
      - "5002:5002"
    -mynet  


  borrow_service:
    image:  kusumacloud/updateproject:borrowimage
    deploy:
      replicas: 3

    ports:
      - "5003:5003"
    -mynet  


  frontend:
    image:   kusumacloud/updateproject:appimage
    deploy:
      replicas: 3
    ports:
      - "5000:5000"
    -mynet  


networks:
mynet:
  driver: overlay
